.btn-co-insc{
	margin-top: 15px;
}

.justify-content-md-center {
	margin: 0px 0px 0px 0px;
}

form{
	margin-top: 50px;
	margin-bottom: 50px;

}

.titre-co-insc{
	text-align: center;
	margin-bottom: 20px;
}

.invalid-feedback{
	visibility: visible;
}

#error-username-insc{
	visibility: hidden;
}

#error-mail-insc{
	visibility: hidden;
}

#error-password-insc{
	visibility: hidden;
}

#error-passwordConfirmation-insc{
	visibility: hidden;
}

#error-password-connex{
	visibility: hidden;
}

#error-usernameMail-connex{
	visibility: hidden;
}


.error-message{
	color: red;
	font-size: 13px;
	margin-bottom: 6px;
}


