<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Music in the world</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="../css/bootstrap-grid.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../css/style_connexion_creation_compte.css" />
     <link href="../css/footer.css" rel="stylesheet">

     {% block csspage %} {% endblock %}



  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/playlist/">Ma playlist <span class="sr-only">(current)</span></a>
          </li>
           <li>
          <a class="nav-link" href="/form/">Ajouter une musique<span class="sr-only">(current)</span></a>
        </li>
          
        
        </ul>
      </div>
      <ul class="navbar-nav  navbar-right">

                        {% if session.user_connect == "Yes" %}
                          <li class="nav-item">
                            <a class="nav-link " href="#">
                                {{ session.username }}
                            </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/deconnexion/" data-toggle="dropdown" data-target="dropdown_target">
                                Deconnexion
                            </a>
                            </li>
                             
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/connexion/">Se connecter / S'inscrire </a>
                            </li>
                        {% endif %}
                </ul>
    </nav>

{% block content %} {% endblock %}

   
<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright 2019.</span>
      </div>
    </footer>
</body>
</html>