{% extends 'base.twig' %}

{% block content %}
 <h1 id="title_page">Liste des jeux</h1>

    <table id="games_list" class="table" cellpadding="0" cellspacing="0" border="0">
      <thead class="thead-dark" >
        <tr>
            <th scope="col">
                 <a href="/bibliotheque/classement">Classement</a>
            </th>
            <th scope="col">
                <a href="/bibliotheque/titre">Titres</a>
            </th>
            <th scope="col">
                <a href="/bibliotheque/artiste"> Artistes</a>
            </th>
            <th scope="col">
                 <a href="/bibliotheque/genre">Genre</a>
            </th>
            <th scope="col">
                <a href="/bibliotheque/annee">Année</a>
            </th>
            <th scope="col">
                Supprimer
            </th>
            <th scope="col">
                Ajouter à ma playlist
            </th>

        </tr>
      </thead>
      <tbody class="thead-light">
     {% for music in musics %}
        <tr>
            <td> {{loop.index}} </td>

            <td> {{music.titre}} </td>
            <td> {{music.artiste}} </td>
            <td> {{music.genre}} </td>
            <td> {{music.annee}} </td>
            <td> 
            <a href="/bibliotheque/delete/{{ music.id }}">Delete</a>
            

                </td>
                <td>
                <a href="/bibliotheque/addplaylist/{{ music.id }}">Ajouter</a>
                </td>
        </tr>
        {% endfor %}

       </tbody>
    </table> 

{% endblock %}