{% extends 'base.twig' %}
{% block title %}Connexion{% endblock %}
{% block csspage %}
   
{% endblock %}

{% block content %}

{% if session.user_connect ==  'Yes' %}
	<div class="jumbotron">
        <div class="container">
          <h1  id="title_page" class="display-3"> Vous êtes connecté !</h1>
        </div>
      </div>
{% else %}
<div class="jumbotron">
        <div class="container">
          <h1  id="title_page" class="display-3">Se connecter / S'inscrire</h1>
        </div>
      </div>
	
	  
      <table class="table" cellpadding="0" cellspacing="0" border="0">
      <thead class="thead-dark" >
        <tr>
            <th scope="col">
                <form method="POST" action="/connexion">

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-12 titre-co-insc">
				<h2>Créer un compte</h2>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<label for="username">Nom d'utilisateur</label>
				<input type="text" name="username" id="username" class="form-control" required maxlength="25"> 
				<p class="error-message" id="error-username-insc">Nom d'utilisateur indisponible</p>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<label for="adresseMail">Adresse email</label>
				<input type="mail" name="adresseMail" id="adresseMail" class="form-control" required> 
				<p class="error-message" id="error-mail-insc">Adresse email non valide</p>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<label for="passwordInsc">Mot de passe</label>
				<input type="password" name="passwordInsc" id="passwordInsc" class="form-control" required> 
				<p class="error-message" id="error-password-insc">Mot de passe incorrect</p>
			</div>
		</div>


		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<label for="confirmationPassword">Confirmer mot de passe</label>
				<input type="password" name="confirmationPassword" id="confirmationPassword" class="form-control" required> 
				<p class="error-message" id="error-passwordConfirmation-insc">Mot de passe incorrect</p>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<button name="btn_inscription" id="btn_inscription" class="btn btn-lg btn-primary btn-block btn-co-insc" type="submit">Confirmer</button>
			</div>
		</div>
	</form>


            </th>
            <th scope="col">
                <form method="POST" action="/connexion">
		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-12 titre-co-insc">
				<h2>Connexion</h2>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<label for="usernameMail">Nom d'utilisateur ou adresse email</label>
				<input type="text" name="usernameMail" class="form-control" id="usernameMail" required>
				<p class="error-message" id="error-usernameMail-connex">Nom d'utilisateur ou adresse email non valide</p>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<label for="passwordCo">Mot de passe</label>
		  		<input type="password" name="passwordCo" id="passwordCo"  class="form-control" required> 
		  		<p class="error-message" id="error-password-connex">Mot de passe incorrect</p>
		  	</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<button name="btn_connexion" id="btn_connexion" class="btn btn-lg btn-primary btn-block btn-co-insc" type="submit">Se connecter</button>
			</div>
		</div>
	</form>
            </th>
        </tr>
      </thead>
	

    
{% endif %}


{% endblock %}