{% extends 'base.twig' %}

{% block content %}



<div class="jumbotron">
        <div class="container">
          <h1  id="title_page" class="display-3">Ajouter une musique</h1>
        </div>
      </div>

        <form method="POST" action="" enctype="multipart/form-data">

        <fieldset>
        <div class="row justify-content-md-center">
            <label class="form-control label_pad" for="titre">Titre</label>
            <input type="text" id="titre" name="titre" value="{{ music.titre }}" />
            </div>
             <div class="row justify-content-md-center">
            <label  class="form-control label_pad" for="artiste">Artiste</label>
            <input type="text" id="artiste" name="artiste" value="{{ music.artiste }}" />
</div>
             <div class="row justify-content-md-center">

            <label class="form-control label_pad" for="genre">Genre</label>
            <input type="text" id="genre" name="genre" value="{{ music.genre }}" />
</div>
             <div class="row justify-content-md-center">

            <label  class="form-control label_pad" for="annee">Année</label>
            <input type="int" id="annee" name="annee" value="{{ music.annee }}" />
</div>
<div class="btn_center">
            <button class="btn btn-outline-success my-2 my-sm-0 "> Ajouter </button>
            </div>
        </fieldset>
    </form> 
    </main>
    

{% endblock %}