{% extends 'base.twig' %}

{% block content %}
    <main role="main">

      
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Vous cherchez de la musique ?</h1>
        </div>
      </div>

      <div class="container">
       
        <div class="row">
          <div class="col-md-4">
            <h2>Jukebox (aléatoire)</h2>
             <a href="/random/">
            <img class='img-thumbnail' src="https://images.vexels.com/media/users/3/151073/isolated/preview/83903592c7d266f29a91c94f15126594-jukebox-machine-illustration-by-vexels.png" action='www.spotify.com'}'>
            </a></p>
          </div>
          <div class="col-md-4">
            <h2>Les plus écoutées</h2>
            <a href="/top/">
            <img class='img-thumbnail' src="http://www.radioandmusic.com/sites/www.radioandmusic.com/files/images/biz/2014/11/01/Top-100-Songs-2014-List.jpg"}'>
            </a></p>
          </div>
          <div class="col-md-4">
            <h2>Bibliothèque</h2>
            <a href="/Bibliotheque/classement">
            <img class='img-thumbnail' src="https://listenx.com.br/blog/wp-content/uploads/2018/10/Depositphotos_63653511_s-2015.jpg"}>
            </a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
      

    </main>
  {% endblock %}