{% extends 'base.twig' %}

{% block content %}
 <h1 id="title_page">Votre playlist</h1>

    <table class="table" cellpadding="0" cellspacing="0" border="0">
      <thead class="thead-dark" >
        <tr>
            <th scope="col">
                 Index
            </th>
            <th scope="col">
                Titres
            </th>
            <th scope="col">
                Artistes
            </th>
            <th scope="col">
                 Genre
            </th>
            <th scope="col">
                Année
            </th>
            <th scope="col">
                Supprimer
            </th>

        </tr>
      </thead>
      <tbody class="thead-light">
     {% for music in playlist %}
        <tr>
            <td> {{loop.index}} </td>

            <td> {{music.titre}} </td>
            <td> {{music.artiste}} </td>
            <td> {{music.genre}} </td>
            <td> {{music.annee}} </td>
            <td> 
            <a href="/playlist/delete/{{ music.id }}">Delete</a>
            

                </td>
      
        </tr>
        {% endfor %}

       </tbody>
    </table> 

{% endblock %}