{% extends "base.twig" %}
{% block title %}<h1 id="title_page" class="display-3">Connexion</h1>{% endblock %}
{% block csspage %}
    <link rel="stylesheet" type="text/css" href="/assets/css/style_profil_utilisateur.css" />
{% endblock %}

{% block content %}
	<div class="container shadow-lg p-3 mb-5 bg-dark rounded" id="banniere">
		<div class="row">
			<div class="col-3">
				<!-- <img src="img/user_logo_test.png" class="rounded" id="logo_user"> -->
			</div>
			<div class="col-9" id="banniere_username">
				{{session.username}}
			</div>				
		</div>	
	</div>

	<div class="container shadow-lg p-3 mb-5 bg-dark rounded" id="infos_user">
		<div class="row">
			<div class="col-lg-6" id="partie_infos_user">
				<h4>Informations compte : </h4>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Identifiant :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.id}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Nom d'utilisateur :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.username}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Adresse email :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.mail}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Age :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.age}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Pays :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.pays}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Meilleur score :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.best_score}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Dernier score :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.last_score}}
						</div>
					</div>
				</div>
				<div class="container-fluid liste_infos_user">
					<div class="row">
						<div class="col-lg-4 info">
							<p> Parties jouées :  </p>
						</div>
						<div class="col-lg-4 info">
							{{session.nb_partie}}
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6" id="partie_etat_compte">
				<!--<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
					<div class="card-header">Compte non validé</div>
						<div class="card-body">
						    <p class="card-text">Pour valider votre compte vous devez entrer ci-dessous le code qui vous a été envoyé par mail. <a href="#">Renvoyer le mail.</a></p>
						    <form method="POST" action="#">
						    	<div class="row" id="form_validation_compte">
						    		<div class="col-6">
							    		<input type="text" class="form-control" name="code_validation" maxlength="4" required id="champ_saisie_code_validation">
							    	</div>
							    	<div class="col-6">
							    		<button type="button" class="btn btn-outline-danger">VALIDER</button>
							    	</div>
						    	</div>
						    </form>
						</div>
							
					</div>	
				</div> -->
				<h4>Modifier les informations : </h4>
				<form method="POST" action="/profil/">
					<div class="container-fluid liste_infos_user">
						<div class="row">
							<div class="col-lg-4 info">
								<p> Nom d'utilisateur :  </p>
							</div>
							<div class="col-lg-4 info">
								<input type="text" name="new_username" id="new_username" value="{{session.username}}"></input>
							</div>
						</div>
					</div>
					<div class="container-fluid liste_infos_user">
						<div class="row">
							<div class="col-lg-4 info">
								<p> Adresse email :  </p>
							</div>
							<div class="col-lg-4 info">
								<input type="mail" name="new_mail" id="new_mail" value="{{session.mail}}"></input>
							</div>
						</div>
					</div>
					<div class="container-fluid liste_infos_user">
						<div class="row">
							<div class="col-lg-4 info">
								<p> Mot de passe :  </p>
							</div>
							<div class="col-lg-4 info">
								<input type="password" name="new_password" id="new_password" value=""></input>
							</div>
						</div>
					</div>
					<div class="container-fluid liste_infos_user">
						<div class="row">
							<div class="col-lg-4 info">
								<p> Age :  </p>
							</div>
							<div class="col-lg-4 info">
								<input type="number" name="new_age" id="new_age" value="{{session.age}}"></input>
							</div>
						</div>
					</div>
					<div class="container-fluid liste_infos_user">
						<div class="row">
							<div class="col-lg-4 info">
								<p> Pays :  </p>
							</div>
							<div class="col-lg-4 info">
								<input type="text" name="new_pays" id="new_pays" value="{{session.pays}}"></input>
							</div>
						</div>
					</div>
					<input type="submit" name="enregistrer_modif" id="enregistrer_modif" value="Enregistrer Modifications"></input>
				</form>

			</div>
		</div>
	</div>
{% endblock %}