{% extends 'base.twig' %}

{% block content %}

 <h1 id="title_page">Jukebox</h1>

    <table class="table" cellpadding="0" cellspacing="0" border="0">
      <thead class="thead-dark" >
        <tr>
            <th scope="col">
                Classement
            </th>
            <th scope="col">
                Titres
            </th>
            <th scope="col">
                Artistes
            </th>
            <th scope="col">
              Genre
            </th>
            <th scope="col">
                Année
            </th>
        </tr>
      </thead>
      <tbody class="thead-light">
     {% for music in musics %}
        <tr>
            <td> {{music.id}} </td>

            <td> {{music.titre}} </td>
            <td> {{music.artiste}} </td>
            <td> {{music.genre}} </td>
            <td> {{music.annee}} </td>
        </tr>
        {% endfor %}

       </tbody>
    </table> 

{% endblock %}