{% extends 'base.twig' %}

{% block content %}
 <h1 id="title_page">Liste des jeux</h1>

    <table id="games_list" class="table" cellpadding="0" cellspacing="0" border="0">
      <thead class="thead-dark" >
        <tr>
            <th scope="col">
                Classement
            </th>
            <th scope="col">
                Titres
            </th>
            <th scope="col">
                Artistes
            </th>
            <th scope="col">
                Genre
            </th>
            <th scope="col">
               Année
            </th>
            <th scope="col">
                Action
            </th>
        </tr>
      </thead>
      <tbody class="thead-light">
     {% for music in musics %}
        <tr>
            <td> {{loop.index}} </td>

            <td> {{music.titre}} </td>
            <td> {{music.artiste}} </td>
            <td> {{music.genre}} </td>
            <td> {{music.annee}} </td>
            <td> 
            <a href="/bibliotheque/delete/{{ music.id }}">Delete</a>
                </td>
        </tr>
        {% endfor %}

       </tbody>
    </table> 

{% endblock %}